@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body{
    background: radial-gradient(58.19% 58.19% at 50% 41.81%, #F0F0F0 0%, #E3E3E3 100%);
    /* width: 100vw;
height: 100vh; */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
